<header>
  {{#if loggedIn}}
    <nav
      class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-gray-200"
    >
      <div
        class="container flex flex-wrap justify-between items-center mx-auto"
      >
        <a href="/" class="flex items-center">
          <img
            src="../assets/images/logo.jpeg"
            class="mr-3 h-6 sm:h-9"
            alt="Finance Expense Tracker Logo"
          />
          <span
            class="self-center text-xl font-semibold whitespace-nowrap text-black"
          >
            Finance Expense Tracker
          </span>
        </a>

        <div class="flex items-center" id="mobile-menu-2">
          <a
            href="/dashboard"
            class="block p-4 text-white rounded bg-transparent text-blue-700 text-white mx-2"
            aria-current="page"
          >Home</a>

          <a
            href="/reports"
            class="block p-4 text-white rounded bg-transparent text-blue-700 text-white mx-2"
            aria-current="page"
          >Reports</a>

          <button
            id="logout"
            class="block p-4 text-white rounded bg-transparent text-blue-700 text-white mx-2"
            aria-current="page"
          >Logout</button>

        </div>
      </div>
    </nav>
    <h1
      class="flex justify-center text-xl font-semibold whitespace-nowrap text-black p-4"
    >Financial Expense Tracker
    </h1>
    <p class="flex justify-center text-l text-black p-4">Using our app you will
      track your expenses, generate reports and be able to control your expenses
      while saving money to spend on what really matters.</p>

  {{/if}}
</header>