<div
    class="w-full max-w-2xl h-full md:h-auto p-6 bg-gray-200 rounded-lg border border-gray-400 shadow-md sm:p-6 lg:p-8">
    <form class="expense-form space-y-6" action="#">
        <h5 class="text-xl font-medium text-gray-900">Transaction History</h5>
        <div>
            <input type="hidden" name="text" id="user_id" value="{{ user_id }}">
        </div>
        <div>
            {{!-- <label for="category" class="block mb-2 text-sm font-medium text-gray-900 ">Select a category</label> --}}
            <select class=" w-full h-auto p-2.5" name="category" multiple="multiple">
                {{#each expenses as |expense|}}
                <option id="category-id"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-500 dark:placeholder-gray-400"
                    value="{{expense.id}}">{{expense.name}}</option>
                {{/each}}
            </select>
        </div>
    </form>
</div>