<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FET</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {{!-- <link rel="stylesheet" href="./assets/css/style.css"> --}}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
</head>

<body>
    <div class="wrapper">
        {{> header }}
        {{{ body }}}
        {{> footer }}
    </div>
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>

</html>