* {
    display: flexbox;
}


/*color roots*/

:root {
    --muskyBlue: #08243b;
    --muskyTeal: #56777c;
    --muskyTan: #f2c999;
    --muskyOrange: #c79360;
    --muskyBrown: #75574e;
    --mealContainer: #302e2b;
    --footer: #87cefa;
    --highlight: #ee82ee;
    --onClick: hsl(271, 76%, 53%);
    --white: #ffffff;
}

.body-container {
    display: felx;
    background-color: antiquewhite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -150px;
    box-shadow: 10px 10px 5px #888888;
}

.main-logo {
    color: #302e2b;
    left: 50%;
    top: 50%;
}

.expends-container {
    display: flex;
    align-items: center;
}

li {
    width: 300px;
    height: 30px;
    margin: 20px 0;
}

.categories-container {
    width: 40%;
    float: left;
    height: auto;
    margin-top: 8cm;
    margin-left: 3cm;
    border: 1px solid #3B6273;
    background-color: #87cefa;
    box-shadow: 10px 10px 5px #888888;
}

.history-container {
    width: 40%;
    float: right;
    height: auto;
    margin-top: 8cm;
    margin-right: 3cm;
    border: 1px solid #3B6273;
    background-color: #ee82ee;
    box-shadow: 10px 10px 5px #888888;
}

.title-container2 {
    width: 100%;
    float: center;
    height: auto;
    margin-top: 2cm;
    border: 1px solid #3B6273;
    background-color: #fa87d7;
}

.footer {
    background-color: rgb(192, 255, 216);
    clear: both;
    width: 100%;
    height: auto;
    margin-top: 2cm;
}

.button {
    font-size: large;
    padding: 2rem 0;
    width: auto;
    text-align: center;
    margin-bottom: 5rem;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(18, 92, 255) 100%);
    border-radius: 4px;
}

.hide {
    display: none;
}

#graphcontainer1 {
    width: 40%;
    float: right;
    height: auto;
    margin-top: 8cm;
    margin-right: 3cm;
    border: 1px solid #3B6273;
    background-color: #9282ee;
    box-shadow: 10px 10px 5px #888888;
}

#graphcontainer2 {
    width: 40%;
    float: right;
    height: auto;
    margin-top: 8cm;
    margin-right: 3cm;
    border: 1px solid #3B6273;
    background-color: #4128b3;
    box-shadow: 10px 10px 5px #888888;
}

#graphcontainer3 {
    width: 40%;
    float: right;
    height: auto;
    margin-top: 8cm;
    margin-right: 3cm;
    border: 1px solid #3B6273;
    background-color: #82eea2;
    box-shadow: 10px 10px 5px #888888;
}

.title-container {
    height: auto;
    justify-content: center;
    border: 1px solid #3B6273;
    background-color: #4128b3;
    box-shadow: 10px 10px 5px #888888;
}